@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400,600&display=swap');
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', monospace;
    background-color: rgb(2, 2, 2);
}
a {
    text-decoration: none;
}
.header-div {
    color: white;
}
.nav-container {
    display: grid;
    grid-template-columns: .1fr 1fr auto;
}
.nav-logo {
    display: grid;
    grid-template-columns: .1fr .1fr;
    width: 100px;
}
.nav-links a {
    color: rgb(226, 226, 226);
    margin: 0 1rem;
    padding: 1rem .7rem;
    float: right;
    margin-top: 1.5em;
    font-weight: 400;
    font-size: 16px;
}
.nav-links a:hover {
    background-color: rgba(168, 168, 168, 0.2);
    border-radius: 5px;
    transition: ease-in 0.3s;
}
.logo {
    width: 4rem;
    margin: 1.5em 3em;
    margin-right: 0;
}
.div-logo-p {
    text-align: center;
    margin-top: 1.6em;
}
.logo-p {
    margin: 0;
    margin-left: 5px;
    font-size: 16px;
    width: 100px;
}
.logo-p-small {
    font-size: 12px;
    text-align: center;
}
.head-img {
    width: 20rem;
}
.nav-button {
    color: rgb(228, 228, 228);
    background-color: rgb(43, 43, 43);
    border-radius: 50px;
    padding: 15px 25px;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    border: 0;
    cursor: pointer;
    float: right;
    margin: 1.5em 3em;
}
.mid-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
.header-img-div {
    width: 22.5em;
    grid-column: 2/3;
}
.head-img {
    width: 100%;
    height: auto;

}
.mid-header-text {
    margin: auto 0;
    float: left;
    grid-column: 3/5;
    margin-left: 10px;
}
.header-text-hello {
    color: rgb(170, 170, 170);
    letter-spacing: 3px;
}
.header-text-name {
    letter-spacing: 0;
    font-size: 60px;
    margin: 0;
}
.header-text-name-small {
    color: rgb(214, 214, 214);
    letter-spacing: 3px;
    font-size: 24px;
    font-weight: 600;
    margin-left: 2em;
}
.header-text-title {
    color: rgb(170, 170, 170);
    font-size: 26px;
    border-bottom: 1.5px solid rgb(170, 170, 170);
    margin-right: 10em;
    padding-bottom: 10px;
}
.title-span {
    color: rgb(218, 80, 90);
    font-family: 'Roboto Mono',sans-serif;
}

/* CONTENT */

/* myProjects */

.myProjects {
  width: 100%;
  height: auto;
  margin-top: 5em;
}
.project-cards {
  max-width: 75vw;
  height: auto;
  display: grid;
  grid-template-rows: .07fr 1fr;
  margin: 0 auto;
}
.apple-card-top {
  background-color: #e0e0e0;
  border-radius: 15px 15px 0 0;
}
.apple-card-balls {
    vertical-align: middle;
    height: auto;
}
.apple-card-ball {
    content: 'hallo';
    width: 15px;
    height: 15px;
    border-radius: 10px;
    margin: auto 0;
    display: inline-block;
}
.red-ball {
    background-color: rgba(255, 0, 0, 0.616);
}
.project-cards img {
  max-width: 100%;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 1050px) {
  .header-img-div {
    grid-column: 1/3;
    margin-left: 4vw;
  }
  .header-text-title {
    margin-right: 2em;
  }
}
